*{
    width: 100%;
    background-color: white;
}

body {
    margin: 0;
    background-color: #111552;
}


.img-fluid{
    border-radius: 60px;

}

h1{
    border-bottom-style: inset;      
};

h2, p{
    font-family: sans-serif;
}

p{
    font-size:20px;
}

h3, h5, pre, li{
    font-style: italic;
}

pre{
    font-size: 1.1em;
}

figure{
    display: inline-block;
    font-size: 0.7em;
    margin: 5px;
}

img.poltrona{
    width: 24px;
    height: 16px;
}
.entre-letras{
    letter-spacing: 0.5em;
}

.container-rodape {
    text-align: center;
}
